

body {
    background-image: url("https://pbs.twimg.com/media/E2XGcPDUYAAMgH0.jpg");
}

h4{
    font-family: Lobster-Regular;
    color: #FFED99;
}

.Binita {
    color: #BF1363;
    font-family: fantasy;
}

